.custom-form .input-wrapper {
  margin-bottom: 32px;
}

.custom-form .input-wrapper label {
  margin-right: 8px;
}

.custom-form .input-wrapper input {
  font-size: var(--body-font-size-m);
}

.custom-form button {
  font-size: var(--body-font-size-m);
}

/* hide the form field divs in editor. They are still needed to edit the fields */
.custom-form > [data-block-name="custom-form"] > div {
  display: none;
}