.jobteaser {
  flex: 1 0 auto;
  display: flex;
  position: relative;
  gap: 32px;
  padding: 32px;
  flex-direction: column;
}

.jobteaser__title {
  font-size: 32px;
  font-weight: bold;
}

.jobteaser__content {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.jobteaser__content-tile {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  margin: 16px;
}

.jobteaser__content-tile__title {

}

.jobteaser__content-tile__date {

}

.jobteaser__content-tile__link {

}