.jobteaser__title {
  font-size: 32px;
  font-weight: bold;
}

.jobteaser__content {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.jobteaser__tile {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  padding: 16px;
  list-style-type: none;
  word-wrap: break-word;
}

.jobteaser__tiletitle {
  font-size: 24px;
}

.jobteaser__tiledate {
  font-size: 16px;
}

.jobteaser__tilelink {
  font-size: 16px;
  border-radius: 5px;
  padding: 16px;
  background-color: var(--dark-color);
}