.tag {
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 4px 16px;
  width: max-content;
  font-size: var(--body-font-size-xs);
}

.tag-dark {
  color: var(--background-color);
  background-color: var(--text-color);
}

.tag-orange {
  color: var(--background-color);
  background-color: var(--link-hover-color);
}