.foodmeter {
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
        grid-gap: 16px;

        > li {
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }

    .food {
        border: 1px solid var(--dark-color);
        border-radius: var(--border-radius);
        background-color: var(--background-color);
        cursor: pointer;
        transition: all 0.3s;

        &-selected {
            box-shadow: var(--dark-color) 0 30px 60px -12px inset, var(--dark-color) 0 18px 36px -18px inset;
            border: 4px solid var(--link-color);

            .food__body {
                font-weight: 700;
            }
        }

        &__image {
            line-height: 0;
        }

        &__body {
            margin: 16px;
            display: flex;
            justify-content: center;
            color: var(--link-color);

            > *:first-child {
                margin-top: 0;
            }
        }

        &__impact {
            display: none;
        }
    }
}
