.rating {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas: "image" "text" "rating";
  position: relative;
  gap: 32px;
  padding: 32px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

@media (width >= 600px) {
  .rating {
    grid-template-areas: "image text" "image rating";
  }
}

.rating__image {
  grid-area: image;
}

.rating__review {
  grid-area: text;
}

.rating__stars {
  grid-area: rating;
}

.rating__image img {
  grid-area: image;
  border-radius: 50%;
  max-width: 200px;
}

.rating__review p {
  margin-top: 0;
  margin-bottom: 0;
}

.rating__star--active::before {
  content: url("../../icons/star-full.svg");
}

.rating__star--inactive::before {
  content: url("../../icons/star-empty.svg");
}